.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.pick-class-label {
  border-radius: 8px;
  border: 1px solid #E3E3E3;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  margin-right: 10px;
  padding: 23px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.switch {
  margin-right: 20px;
}

#navbar-full .navbar {
  border-radius: 0 !important;
  margin-bottom: 15px;
  z-index: 2;
}

#menu-dropdown .navbar {
  border-radius: 3px;
}

#pagination-row .pagination-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}

#icons-row i.now-ui-icons {
  font-size: 30px;
}

.space {
  height: 130px;
  display: block;
}

.space-110 {
  height: 110px;
  display: block;
}

.space-50 {
  height: 50px;
  display: block;
}

.space-70 {
  height: 70px;
  display: block;
}

.navigation-example .img-src {
  background-attachment: scroll;
}

.navigation-example {
  background-position: center center;
  background-size: cover;
  margin-top: 0;
  min-height: 740px;
  height: 100%;
}

#notifications {
  background-color: #FFFFFF;
  display: block;
  width: 100%;
  position: relative;
}

.tim-note {
  text-transform: capitalize;
}

#buttons .btn,
#javascriptComponents .btn {
  margin: 0 0px 10px;
}

.space-100 {
  height: 100px;
  display: block;
  width: 100%;
}

.be-social {
  padding-bottom: 20px;
  /*     border-bottom: 1px solid #aaa; */
  margin: 0 auto 40px;
}

.txt-white {
  color: #FFFFFF;
}

.txt-gray {
  color: #ddd !important;
}

.parallax {
  width: 100%;
  height: 570px;
  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo-container .logo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #11181c;
  width: 50px;
  float: left;
}

.logo-container .brand {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 18px;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  width: 70px;
  height: 40px;
  text-align: left;
}

.logo-container .brand-material {
  font-size: 18px;
  margin-top: 15px;
  height: 25px;
  width: auto;
}

.logo-container .logo img {
  width: 100%;
}

.navbar-small .logo-container .brand {
  color: #11181c;
}

.fixed-section {
  top: 90px;
  max-height: 80vh;
  overflow: scroll;
  position: sticky;
}

.fixed-section ul {
  padding: 0;
}

.fixed-section ul li {
  list-style: none;
}

.fixed-section li a {
  font-size: 14px;
  padding: 2px;
  display: block;
  color: #666666;
}

.fixed-section li a.active {
  color: #00bbff;
}

.fixed-section.float {
  position: fixed;
  top: 100px;
  width: 200px;
  margin-top: 0;
}

.parallax .parallax-image {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.parallax .parallax-image img {
  width: 100%;
}

@media (max-width: 768px) {
  .parallax .parallax-image {
    width: 100%;
    height: 640px;
    overflow: hidden;
  }
  .parallax .parallax-image img {
    height: 100%;
    width: auto;
  }
}

/*.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}*/

.social-buttons-demo .btn {
  margin-right: 5px;
  margin-bottom: 7px;
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.lightbox img {
  width: 100%;
}

.lightbox .modal-content {
  overflow: hidden;
}

.lightbox .modal-body {
  padding: 0;
}

@media screen and (min-width: 991px) {
  .lightbox .modal-dialog {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .fixed-section.affix {
    position: relative;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .btn,
  .btn-morphing {
    margin-bottom: 10px;
  }
  .parallax .motto {
    top: 170px;
    margin-top: 0;
    font-size: 60px;
    width: 270px;
  }
}

/*       Loading dots  */

/*      transitions */

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#images h4 {
  margin-bottom: 30px;
}

#javascriptComponents {
  padding-bottom: 0;
}

/*      layer animation          */

.layers-container {
  display: block;
  margin-top: 50px;
  position: relative;
}

.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #11181c;
}

.navbar-transparent.navbar-small .logo-container .brand {
  color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #11181c;
}

.sharing-area {
  margin-top: 80px;
}

.sharing-area .btn {
  margin: 15px 4px 0;
}

h-100-thin,
h-100-notifications {
  padding: 0;
}

.section-navbars {
  padding-top: 0;
}

#navbar .navbar {
  margin-bottom: 20px;
}

#navbar .navbar-toggler,
#menu-dropdown .navbar-toggler {
  pointer-events: none;
}

.section-tabs {
  background: #EEEEEE;
}

.section-pagination {
  padding-bottom: 0;
}

.section-download {
  padding-top: 130px;
}

.section-download .description {
  margin-bottom: 60px;
}

.section-download h4 {
  margin-bottom: 25px;
}

.section-examples a {
  text-decoration: none;
}

.section-examples a+a {
  margin-top: 30px;
}

.section-examples h5 {
  margin-top: 30px;
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
  height: 500px;
  padding-top: 128px;
  background-size: cover;
  background-position: center center;
}

.components-page .title,
.tutorial-page .title {
  color: #FFFFFF;
}

.brand .h1-seo {
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: 300;
}

.brand .n-logo {
  max-width: 100px;
  margin-bottom: 40px;
}

.invision-logo {
  max-width: 70px;
  top: -2px;
  position: relative;
}

.creative-tim-logo {
  max-width: 140px;
  top: -2px;
  position: relative;
}

.section-javascript .title {
  margin-bottom: 0;
}

.navbar .switch-background {
  display: block;
}

.navbar-transparent .switch-background {
  display: none;
}

.section-signup .col .btn {
  margin-top: 30px;
}

#buttons-row .btn {
  margin-bottom: 10px;
}

.section-basic {
  padding-top: 0;
}

.section-images {
  padding-bottom: 0;
}

@media screen and (max-width: 991px) {
  .section-navbars .navbar-collapse {
    display: none !important;
  }
}

/* custom style page */
.bg-dark {
  background-color: #11181c !important;
}

.bg-light {
  background-color: #f5f5f5;
}

/* custom css */
html, body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color:#333;
  margin: 0;
  padding: 0;
}

body p {
  font-size: 1rem;
}


.index-page .page-header {
  height: 97vh;
  min-height: 97vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 20px;
}

.swiper-pagination-bullet {
  background: #fff;
}

.slide-copy {
  background: #777;
  background: rgba(0,0,0,.6);
  color: #fff;
  left: 0;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 2.2rem;
  position: absolute;
  width: 100%;
  text-align: left;
  transition: all ease-in-out .4s;
}

.slide-copy:hover {
  background: rgba(0,0,0,.75);
}

.slide-copy a {
  cursor: pointer;
}

.slide-copy span {
  color: #fff;
  border-color: #fff;
  font-size: .8rem;
}

.slide-copy h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 600;
  transition: all ease-in-out .3s;
}

.slide-copy:hover h3 {
  color: #0b78ad;
}
.slide-copy:hover span {
  color: #0b78ad;
  border-color: #0b78ad;
}

.slide-copy p {
  width: 82%;
  font-size: .9rem;
  letter-spacing: -0.5px;
  text-align: justify;
  margin-bottom: .5rem;
}

.swiper-button-next, .swiper-button-prev, .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  transition: all ease-in-out .3s;
}

.swiper-container:hover .swiper-button-next, .swiper-container:hover .swiper-button-prev {
  opacity: .5;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background: #0b78ad;
  opacity: 1 !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  font-size: 1.5rem;
  color: #fff;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background: #333;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  opacity: 0.5;
}

.section-welcome,
.section-bussines,
.section-news {
  padding: 6rem 0;
}

.section-welcome h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section-welcome p {
  text-align: justify;
}
.section-welcome .img-circle {
  width: 250px;
  height: 250px;
  padding: 1rem;
  margin-top: 1.5rem;
  float: right;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
}
.section-welcome .img-circle img {
  width: 88%;
  display: block;
  margin: 2.8rem auto 0 auto;
}

.intro-list {
  font-size: 1rem;
  font-weight: 600;
}
.intro-list i {
  color: #ccc;
  margin-right: .5rem;
}

.switch-lang a {
  display: inline-block;
  padding-bottom: 0 !important;
  border-bottom: 3px solid transparent;
}
.switch-lang a.active {
  color: #1173b8 !important;
  border-bottom: 3px solid #1173b8;
}

.lang-area {
  position: absolute;
  top: 16px;
}
.menu-area {
  margin-top: 3rem;
}
.menu-area .nav-item.active {
  border-bottom: 3px solid #1173b8;
}
.menu-area .nav-item.active a {
  color: #1173b8 !important; 
}

.navbar {
  padding: .8rem 2.5rem 0 2.5rem;
}
.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: 0.78rem;
  font-weight: 600;
  padding: 0.6rem;
}

.navbar-brand img {
  width: 88%;
  margin-top: -12px;
}

.overlay-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.overlay-img img {
  width: 100%;
}
.overlay-img span {
  position: absolute;
  top: 8.2rem;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.overlay-img i {
  position: absolute;
  color: #fff;
  top: 7.5rem;
  left: 8rem;
  font-size: 4rem;
  display: none;
}
.overlay-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
}
.overlay-img.blue:before {
  background: #1173b8;
}
.overlay-img:hover img {
  transform: scale(1.3);
  transition: all ease-in-out 0.5s;
  opacity: 0.6;
}
.overlay-img:hover i {
  display: block;
}

.overlay-img:hover span {
  display: none;
}

.news .posted-date {
  line-height: 20px;
  font-size: .8rem;
  color: #999;
}

.news h3 {
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: .6rem;
}

.news a {
  text-decoration: none;
}

.news .preview {
  height: 115px;
  overflow: hidden;
}

.news .preview p {
  font-size: .9rem;
  font-weight: 400;
  line-height: 24px;
}

.news a.readmore {
  font-size: .8rem;
  padding: 6px 18px;
  margin-top: 1.4rem;
}

.btn-outline-primary.btn-round:hover {
  background: #0d76ba;
  color: #fff;
}

#footer {
  background: #1C1F21;
  margin-top: 50px;
}
.bg-dark-4 {
  background-color: #292d31 !important;
}

#footer .section {
  position: relative;
  padding: 73.846px 0;
  padding: 4.6153846154rem 0;
}

#footer .footer-copyright {
  background: #1C1F21;
  margin-top: 5em;
  padding: 2em 0;
}
.bg-dark-2 {
  background-color: #1b1e21 !important;
}
.social-icons {
  margin: 0;
  padding: 0;
  width: auto;
}
#footer li {
  color: #777;
}

.social-icons li {
  display: inline-block;
  margin: -1px 1px 0 2px;
  padding: 0;
  border-radius: 100%;
  overflow: visible;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
#footer.footer-hover-links-light a:not(.btn) {
  -webkit-transition: ease all 300ms;
  transition: ease all 300ms;
}

.social-icons.social-icons-3 li a {
  font-size: 16px;
  font-size: 1rem;
}
.social-icons.social-icons-icon-dark li a {
  color: #1c1f21;
}
.social-icons li a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #FFF;
  border-radius: 100%;
  display: block;
  height: 2.4em;
  font-size: 1.1em;
  line-height: 2.4em;
  width: 2.4em;
  text-align: center;
  color: #999;
  text-decoration: none;
}
#footer .footer-copyright p {
  font-size: 0.9em;
}
.section.section-content-pull-top.pull-top-level-3 > .container:not(.no-pull-top) {
  margin-top: -176px;
  margin-top: -11rem;
}
.section.section-content-pull-top > .container:not(.no-pull-top) {
  margin-top: -112px;
  margin-top: -7rem;
}
.section > .container {
  position: relative;
  z-index: 3;
}
#footer p {
    color: #707070;
    line-height: 1.9;
    margin: 0 0 1.2em;
}
#footer .text-color-light {
  color: #FFF !important;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5 {
  color: #FFF;
}
html .bg-primary-3:not(.no-skin) {
  background-color: #002e5f !important;
}
.card {
  border: 1px solid #EDEDEE;
  border-radius: 0;
  background: transparent;
  margin-bottom: 0;
}

.text-1 {
  font-size: 12.8px !important;
  font-size: .80rem !important;
}

.btn-dark, html.sticky-header-active .btn-sticky-dark {
  border-color: #1c1f21;
  color: #FFF;
  background-color: #1c1f21;
}

.btn-dark:hover, .btn-dark:focus, html.sticky-header-active .btn-sticky-dark:hover, html.sticky-header-active .btn-sticky-dark:focus {
  border-color: #33393d;
  background-color: #33393d;
  color: #FFF;
}
#footer.footer-hover-links-light a:not(.btn) {
  -webkit-transition: ease all 300ms;
  transition: ease all 300ms;
}
#footer .list a {
  color: #707070;
}
#footer.footer-hover-links-light a:not(.btn):hover {
  color: #FFF;
  border-color: #FFF;
}

.icon-box.icon-box-reverse {
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.icon-box.icon-box-style-1 {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}
.icon-box.icon-box-style-1.icon-box-reverse .icon-box-icon {
  padding-right: 0;
  padding-left: 1.8rem;
  font-size: 2.4rem;
  color: #fff;
}

.icon-box.icon-box-reverse .icon-box-icon {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.icon-box.icon-box-style-1 .animated-icon {
  top: 8px;
}
.icon-box .icon-box-icon object, .icon-box .icon-box-icon img {
  position: relative;
}

.font-weight-semibold {
  font-weight: 600;
}

.text-6 {
  font-size: 1.4rem !important;
}

.icon-box-icon.right {
  font-size: 2.4rem;
  padding-right: 1.8rem;
  color: #fff;
}

.social-icons.social-icons-icon-dark li a {
  color: #1c1f21;
}
.social-icons.social-icons-icon-dark li:hover a {
  color: #FFF !important;
}
.social-icons li:hover.social-icons-twitter a {
  background: #1aa9e1 !important;
}
.social-icons li:hover.social-icons-facebook a {
  background: #3b5a9a !important;
}
.social-icons li:hover.social-icons-instagram a {
  background: #7c3a3a !important;
}